<ion-header>
  <ion-toolbar>
    <ion-title>
      Omnibyte Technology OCR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/omnibytelogo.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Omnibyte Technology</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is a demo created for Omnibyte Technology by the Omnibyte NDSU Capstone team.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://www.omnibyte.com/">
      <ion-icon slot="start" color="medium" name="cloudy"></ion-icon>
      <ion-label>Omnibyte Website</ion-label>
    </ion-item>
  </ion-list>
</ion-content>