<ion-header>
  <ion-toolbar>
    <ion-title>
      OCR
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="calm" slot="start" (click)="refresh();">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="button" fill="solid" (click)="selectSource()">Select Image</ion-button>
  <ion-button class="button" fill="solid" (click)="recognizeImage()" [disabled]="!selectedImage">Analyze Image</ion-button>

  <img [src]="selectedImage" *ngIf="selectedImage">

  <ion-card *ngIf="imageText">
    <ion-card-header color="dark">
      Image Text
    </ion-card-header>
    <ion-card-content color="dark">
      {{ imageText }}
    </ion-card-content>
  </ion-card>

  {{output}}

</ion-content>